img
{
	clear: both;
	float: left; 
	margin: 10px 60px 40px 0px;
}


#eka { float: left; } 
#toka { clear: both; float: right; }


table {
border: 1px solid black;
border-collapse: collapse;
}

td {
border: 1px solid black;
}

th {
border: 1px solid black;
}
